.content-container {
  background-color: #ffffff; // Cor de fundo branco para a caixa de conteúdo
  border-radius: 8px; // Bordas arredondadas
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra para destacar a caixa sobre o fundo
  padding: 20px; // Espaçamento interno
  margin: 20px; // Margem externa
  }
  
  .container-body {
    margin-top: 20px; // Espaçamento acima do conteúdo
  }