// content-area.component.scss
.content-container {
  background-color: #ffffff; // Cor de fundo branco para a caixa de conteúdo
  border-radius: 8px; // Bordas arredondadas
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra para destacar a caixa sobre o fundo
  padding: 20px; // Espaçamento interno
  margin: 20px; // Margem externa
  display: flex;
  flex-direction: column; // Organizar o título e o conteúdo em colunas
}

.content-wrapper {
  background-color: #ffffff; // Fundo branco para destacar o conteúdo
  flex-grow: 1; // Garante que o container cresça para preencher o espaço disponível
  margin-top: 20px; // Mantém uma margem consistente em torno do container
  padding: 20px; // Espaçamento interno para o conteúdo
  border-radius: 4px; // Bordas levemente arredondadas
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil para elevação
  overflow-y: auto; // Permite rolagem vertical se o conteúdo exceder a altura da caixa
  height: 10%; // Ocupa a altura total do container
}

.page-title {
  padding: 15px 20px; // Espaçamento interno adequado
  font-family: 'Roboto', sans-serif; // Fonte Roboto como mencionado antes
  font-size: 1.5rem; // Tamanho da fonte um pouco maior para destaque
  font-weight: 200; // Peso da fonte para um pouco de ênfase
  color: #333; // Cor do texto em cinza escuro para contraste com o fundo branco
  border-bottom: 1px solid #e0e0e0; // Uma borda na parte inferior para separar do conteúdo
  margin-top: 40px; // Margem na parte superior para separar do conteúdo acima
  margin-bottom: 2px; // Margem na parte inferior para separar do conteúdo abaixo
}