// body configure
body {
  background-color: #F1F2F6; // Replace #ffffff with the desired background color
}

.app-container {
    display: flex;
    background-color: #fff; // Fundo cinza para a página inteira
  }
  
  .sidebar {
    width: 250px; // Largura fixa para a side-bar
    // estilos adicionais da side-bar
  }
  
  .content-area {
    background-color: #000;
    transition: margin-left 0.3s;

    
    &.expanded {
      margin-left: 250px; // Margem à esquerda quando a side-bar está expandida
    }
  }
  
  .page-title {
    background-color: #000; // Fundo branco para o título da página
    padding: 20px; // Espaçamento interno
    border-bottom: 1px solid #e0e0e0; // Linha de separação
  }
  
  .content-wrapper {
    background-color: #fff; // Fundo branco para o conteúdo
    margin: 20px; // Margem em torno do conteúdo
    padding: 20px; // Espaçamento interno
    flex-grow: 1;
    overflow-y: auto; // Scroll se necessário
  }