// app.component.scss
.app-container {
  height: 100%; // Altura total da janela de visualização
  background-color: #F1F2F6; // Fundo cinza para a página inteira
  font-family: 'Roboto', sans-serif; // Fonte Roboto para a página inteira
  width: 100%; // Largura total da janela de visualização
  display: flex; // Usar flexbox para o layout
  flex-direction: column; // Dividir os elementos verticalmente
  overflow: hidden; // Ocultar qualquer conteúdo que exceda a altura da janela
  font-size: small; // Tamanho da fonte menor para a página inteira
}
.main-layout {
  display: flex; // Usar flexbox para o layout
  height: 100%; // Ocupar a altura total da janela de visualização
  width: 100%; // Ocupar a largura total da janela de visualização
  margin-top: 40px; // Margem em torno do layout principal
  margin-left: 20px;
}

.sidebar {
  width: 250px; // Largura fixa para a side-bar
  margin-right: 0px; // Margem à direita para separar do conteúdo
}

.content-ar {
  transition: margin-left 0.3s;
  flex-grow: 1; // Ocupar o espaço restante
  width: calc(100%); // Ajustar a largura com base na side-bar

  height: 100%; // Ocupar a altura total
  &.expanded {
    margin-left: 0; // Sem margem à esquerda quando a side-bar está oculta
  }
}
  
.content-wrapper {
  background-color: #000; // Fundo branco para o conteúdo
  margin: 20px; // Margem em torno do conteúdo
  padding: 20px; // Espaçamento interno
  flex-grow: 1;
  overflow-y: auto; // Scroll se necessário
}
  